/* Container layout */
.container {
  max-width: 600px;
  margin: 0 auto; /* Center the container */
  padding: 50px; /* Add padding inside the container */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 50px;
}

nav {
  background-color: #333;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 50px;
  display: flex;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

h1, h2, h3 {
  color: #333;
}

button {

  padding: 10px;
  margin: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Center content in the container */
.content {
  text-align: center;
}
